@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
	background-color: whitesmoke;
}
/*     Nav    */
.logo {
	width: 90%;
}

.navbar-brand {
	display: inline;
	width: 30%;
}
.navcss{
	background-color: rgba(241,241,241,0.50)
}

.video{
	width: 100%;
}
.typing-css{
	font-family: 'Caveat', cursive;
	font-weight: bold;
	font-size: 250%;
	
}

.img-css{
	border-radius: 10%;
	box-shadow: 1px 1px 5px 1px #ccc;
	width: 50%;
}

.img-text-css {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 400;
}

.img-shadow{
	box-shadow: 1px 1px 5px 1px #ccc;
}
/*     Index    */
.bg-css{
	border-color: #EBECEF;
	background-color: #EBECEF;
	border-radius: 5%;
}
/*     Tutorials page  */
.tutorial-css{
	width: 100%;
}
/*     Tutorials   */
.tutorials-header{
	width: 100%;
}
/*     Footer    */
.icon-css {
	width: 15%;
}

.mail-css {
	width: 7%;
}
.img-footer {
	width: 50%;
	
}

.image-text-css {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.error-popup {
	width: 1px;
	
}


/* The Modal (background) */
.modal {
  padding-top: 10%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  margin: auto;
  max-width: 1200px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 5px;
  right: 0%; 
  
}

.close:hover,
.close:focus {
  cursor: pointer;
}
.exit-symbol{
  width: 25%;
}
.mySlides {
  display: none;
}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  font-size: 50px;
  transition: 0.6s ease;
  background-color: rgba(255,255,255,0.31); 
}
.prev:hover,
.next:hover{
  background-color: rgba(255,255,255,0.70);
}
/* Position the "next button" to the right */
.next {
  right: 0;
  
}

.caption-container {
  text-align: center;
  background-color: black;
}

/*Merchindise*/

#wrap{
	padding:5px;
	background:#fff;   
}

#wrap .cont_order input{
	margin-bottom:5px;
}
#wrap .cont_order p{
	padding-top:5px;
}

#wrap input[type="text"]:hover,
#wrap input[type="text"]:active {
background-color: #FAF398;
}

.radio-bnt {
padding-right: 10px;
}

#wrap label.radiolabel
{
font-weight:normal;
 display:inline;
}

.alert-danger{
	color: black;
	font-weight: bold;
	background-color: rgba(216,49,52,0.30);
	width: 200px;
	
	
}
