@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: helvetica, arial, sans-serif;
	background-color: whitesmoke;
}

.logo {
	width: 90%;
}

.navbar-brand {
	display: inline;
	width: 30%;
}
.navcss{
	background-color: rgba(241,241,241,0.50)
}

.video{
	width: 100%;
}

.imgcss{
	width: 50%;
}
.tutorials-header{
	width: 100%;
	
}
.bg-css{
	border-color: #D8D8D8;
	background-color: #D8D8D8;
	border-radius: 7%;
}

.bg-css :hover {
	box-shadow: 2px 2px 5px black;
	
}
/*     Footer    */
.img-thumbnail {
	width: 20%;
	
}
.img-footer {
	width: 50%;
}