@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
	background-color: whitesmoke;
}
/*     Nav    */
.logo {
	width: 90%;
}

.navbar-brand {
	display: inline;
	width: 30%;
}
.navcss{
	background-color: rgba(241,241,241,0.50)
}

.video{
	width: 100%;
}
.typing-css{
	font-family: 'Caveat', cursive;
	font-weight: bold;
	font-size: 250%;
	
}

.img-css{
	border-radius: 10%;
	box-shadow: 1px 1px 5px 1px #ccc;
	width: 50%;
}

.img-text-css {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 400;
}

.img-shadow{
	box-shadow: 1px 1px 5px 1px #ccc;
}
/*     Index    */
.bg-css{
	border-color: #EBECEF;
	background-color: #EBECEF;
	border-radius: 5%;
}
/*     Tutorials page  */
.tutorial-css{
	width: 100%;
}
/*     Tutorials   */
.tutorials-header{
	width: 100%;
}
/*     Footer    */
.icon-css {
	width: 15%;
}

.mail-css {
	width: 7%;
}
.img-footer {
	width: 50%;
	
}

.image-text-css {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.error-popup {
	width: 1px;
	
}

